*{
    margin: 0;
    padding: 0;
}

table {
    font-family: sans-serif;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 30px 100px;
}

th {
    background-color: #9dddf7;
}

tbody td {
    text-align: center;
    vertical-align: middle;
}


tr:nth-child(even) {
    background-color: #dfdede;
}

tr:nth-child(odd) {
    background-color: #faf9f9;
}